{{#each allUsers as |users|}}

            <tr>
                <td>{{last_name}}, {{first_name}}</td>
                <td>{{id}}</td>
                <td>
                    <div class="switch">
                        <label>
                            NO
                            <input {{#unless adminPriv}}disabled{{/unless}} id="adminBtn" type="checkbox" {{#if admin}}checked{{/if}} />
                            <span class="lever"></span>
                            YES
                        </label>
                    </div>
                </td>
                <td>
                    <a
                        id="updateUserBtn"
                        class="btn-floating btn-large waves-effect waves-light red"
                        ><i class="material-icons">add</i></a
                    >
                    <div id="modalUpdateUser" class="modal">
                        <div class="modal-content">
                            <h4>Update User</h4>
                        <div class="row">
                            <form class="col s12">
                            <div class="row">
                                <div class="input-field col s6">
                                <input
                                    placeholder="First"
                                    id="firstName"
                                    type="text"
                                    class="validate"
                                />
                                <label for="first_name"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                <input
                                    placeholder="Last Name"
                                    id="lastName"
                                    type="text"
                                    class="validate"
                                />
                                <label for="lastName"></label>
                                <div class="modal-footer">
                                    <a
                                    class="addbtn modal-close waves-effect waves-light btn-large red"
                                    href="#!"
                                    ><i class="material-icons left">create</i
                                    >Update User
                                    </a>
                                </div>
                                </div>
                                </div>
                                </div>
                            </div>
                            </form>
                        </div>
                        </div>
                    </div>
                </td>
            </tr>
{{/each}}

