<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ShopKeep App</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <nav class="topNav nav-extended blue darken-4">
      <div class="nav-wrapper">
        <h1 class="h1El"></h1>
        <div class="right responsive-img">
          <img class="circle" src="/images/My project.jpg" alt="logo" />
        </div>
      </div>
      <div class="nav-content navEl">
        <ul class="tabs tabs-transparent">
          <li id="homeBtn" class="tab"><a href="./">Home</a></li>
          <li class="tab">
            <a
              href="/inventory"
              >View Inventory</a
            >
          </li>
          <li class="tab">
            <a
              href="/users"
              >View Users</a
            >
          </li>
          <li class="tab">
            {{#if loggedIn}}
            <a id = "logout-button"
              href="/"
              >Logout</a
            >
            {{else}}
            <a
              href="/login"
              >Login</a
            >
            {{/if}}
          </li>
        </ul>
      </div>
    </nav>

    {{{body}}}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js" integrity="sha256-hlKLmzaRlE8SCJC1Kw8zoUbU8BxA+8kR3gseuKfMjxA=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/inventory.script.js"></script>
    <script src="/js/update.inv.script.js"></script>
    <script src="/js/update.users.script.js"></script>
    <script src="/js/users.script.js"></script>
    <script src="/js/main.script.js"></script>
    <script src="/js/login.js"></script>
    <script src="/js/logout.js"></script>
  </body>
</html>
