    <main>
      <h2 class="logInMsg">Your Current Users</h2>
      <div>
        <div class="tablediv">
          <!-- BUTTON TO ACTIVATE ADD USER MODAL -->
          <button
            data-target="modalAddUser"
            class="btn addbtn modal-trigger waves-effect waves-light btn-large red"
          >
            <i class="material-icons left">create</i>
            Add Item
          </button>
          <!-- MODAL -->
          <div id="modalAddUser" class="modal">
            <div class="modal-content">
              <h4>Add User</h4>
              <div class="row">
                <form id="add-user-form" class="col s12">
                  <div class="row">
                    <div class="input-field col s6">
                      <input
                        placeholder="First Name"
                        id="firstNameInput"
                        type="text"
                        class="validate"
                      />
                      <label for="firstNameInput"></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s6">
                      <input
                        placeholder="Last Name"
                        id="lastNameInput"
                        type="text"
                        class="validate"
                      />
                      <label for="lastNameInput"></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s6">
                      <input
                        placeholder="email@domain.com"
                        id="emailInput"
                        type="email"
                        class="validate"
                      />
                      <label for="emailInput"></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="switch col s6">
                      <label>
                        <p>Admin:</p>
                        NO
                        <input id="adminBtnInput" type="checkbox" />
                        <span class="lever"></span>
                        YES
                      </label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s6">
                      <input
                        placeholder="Username"
                        id="usernameInput"
                        type="text"
                        class="validate"
                      />
                      <label for="usernameInput"></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s6">
                      <input
                        placeholder="Password"
                        id="passwordInput"
                        type="password"
                        class="validate"
                      />
                      <label for="passwordInput"></label>
                      <div class="modal-footer">
                        <button
                          class="addUserBtn modal-close waves-effect waves-light btn-large red"
                          href="#!"
                          ><i class="material-icons left">create</i>Add User
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- INVENTORY TABLE -->
          <table class="highlight">
            <thead>
              <tr>
                <th>Name</th>
                <th>ID</th>
                <th>Admin</th>
                <th>Update</th>
              </tr>
            </thead>

            <tbody>
              {{> userRow}}
            </tbody>
          </table>
        </div>
      </div>
    </main>