    <main>
      <h2 class="logInMsg">Your Current Inventory</h2>
      <div>
        <div class="tablediv">
          <!-- BUTTON TO ACTIVATE ADD INVENTORY MODAL -->
          <button
            data-target="modalAddInv"
            class="btn addbtn modal-trigger waves-effect waves-light btn-large red"
          >
            <i class="material-icons left">create</i>
            Add Item
          </button>
          <!-- MODAL -->
          <div id="modalAddInv" class="modal">
            <div class="modal-content">
              <h4>Add Inventory Item</h4>
              <div class="row">
                <form id="add-item-form" class="col s12">
                  <div class="row">
                    <div class="input-field col s6">
                      <input
                        placeholder="Item Name"
                        id="itemName"
                        type="text"
                        class="validate"
                      />
                      <label for="item_name"></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s6">
                      <input
                        placeholder="Current Stock"
                        id="currentStock"
                        type="text"
                        class="validate"
                      />
                      <label for="currentStock"></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s6">
                      <input
                        placeholder="Image Link"
                        id="imageLink"
                        type="text"
                        class="validate"
                      />
                      <label for="imageLink"></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s6">
                      <input
                        placeholder="Order Link"
                        id="orderLink"
                        type="text"
                        class="validate"
                      />
                      <label for="orderLink"></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s6">
                      <input
                        placeholder="Item Cost"
                        id="itemCost"
                        type="text"
                        class="validate"
                      />
                      <label for="itemCost"></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s6">
                      <input
                        placeholder="Sale Price"
                        id="salePrice"
                        type="text"
                        class="validate"
                      />
                      <label for="salePrice"></label>
                      <div class="modal-footer">
                        <button
                          class="addbtn modal-close waves-effect waves-light btn-large red"
                          href="#!"
                          ><i class="material-icons left">create</i>Add Item
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>

          {{!-- update modal --}}
          <div id="modalUpdateInv" class="modal">
            <div class="modal-content">
              <h4>Update Inventory Item</h4>
              <div class="row">
                <form id="update-item-form" class="col s12">
                  <div class="row">
                    <div class="input-field col s6">
                      <input
                        placeholder="Item Name"
                        id="itemNameUpdate"
                        type="text"
                        class="validate"
                      />
                      <label for="itemNameUpdate"></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s6">
                      <input
                        placeholder="Current Stock"
                        id="currentStockUpdate"
                        type="text"
                        class="validate"
                      />
                      <label for="currentStockUpdate"></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s6">
                      <input
                        placeholder="Image Link"
                        id="imageLinkUpdate"
                        type="text"
                        class="validate"
                      />
                      <label for="imageLinkUpdate"></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s6">
                      <input
                        placeholder="Order Link"
                        id="orderLinkUpdate"
                        type="text"
                        class="validate"
                      />
                      <label for="orderLinkUpdate"></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s6">
                      <input
                        placeholder="Item Cost"
                        id="itemCostUpdate"
                        type="text"
                        class="validate"
                      />
                      <label for="itemCostUpdate"></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s6">
                      <input
                        placeholder="Sale Price"
                        id="salePriceUpdate"
                        type="text"
                        class="validate"
                      />
                      <label for="salePriceUpdate"></label>
                      <div class="modal-footer">
                        <button
                          class="addbtn modal-close waves-effect waves-light btn-large red"
                          href="#!"
                          ><i class="material-icons left">create</i
                          >Update Item
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <!-- INVENTORY TABLE -->
          <table class="highlight">
            <thead>
              <tr>
                <th>Name</th>
                <th>Current Stock</th>
                <th>Item Cost</th>
                <th>Sale Price</th>
                <th>Update</th>
              </tr>
            </thead>

            <tbody>
              {{> invRow}}
            </tbody>
          </table>
        </div>
      </div>
    </main>