
    <main>
      <div class="container">
        <h3>Welcome to ShopKeep!</h3>
        <h4>Your one stop shop for inventory management.</h4>

        <!-- Grid with images, view inventory option, add to inventory option, update option -->

        <div class="row">
          <div class="col s3 m4 cards-container">
            <div class="card blue-grey white-text">
              <div class="card-image">
                <img
                  class="cardimg" 
                  src="./images/pexels-maria-lindsey-content-creator-1831825 (1).jpg"
                  alt="Grocery Items"
                />
                <span class="card-title">View</span>
                <a
                  class="btn-floating halfway-fab waves-effect waves-light blue-grey lighten-3" href="../inventory"
                  ><i class="material-icons">store</i></a
                >
              </div>
              <div class="card-content">
                <p>
                  "View your most recent inventory in order maximize profits,
                  stay ahead of supply chain, and keep your customers happy!"
                </p>
              </div>
            </div>
          </div>

          <div class="col s3 m4 cards-container">
            <div class="card blue-grey white-text">
              <div class="card-image">
                <img
                  class="cardimg"
                  src="./images/pexels-polina-tankilevitch-3735179.jpg"
                  alt="Grocery Dispenser"
                />
                <span class="card-title">Add/Update</span>
                <a
                  class="btn-floating halfway-fab waves-effect waves-light blue-grey lighten-3" href="../inventory"
                  ><i class="material-icons">add</i></a
                >
              </div>
              <div class="card-content">
                <p>
                  "Increasing Demand? Supply chain issues? No prob, we got you
                  covered - update and add current inventory to stay ahead of
                  the competition!"
                </p>
              </div>
            </div>
          </div>

          <div class="col s3 m4 cards-container">
            <div class="card blue-grey white-text">
              <div class="card-image">
                <img
                  class="cardimg"
                  src="https://i.picsum.photos/id/1/350/200.jpg?hmac=jXaBDOH_nxvv3bnF2rR193RGxOxrRNYuqyV5gbEGK4o"
                  alt="Computer User"
                />
                <span class="card-title">Manage Users</span>
                <a
                  class="btn-floating halfway-fab waves-effect waves-light blue-grey lighten-3" href="../users"
                  ><i class="material-icons">refresh</i></a
                >
              </div>
              <div class="card-content">
                <p>
                  "Employees come and go - easily manage and update users as
                  well as set admins for who can make changes!"
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>